body{
margin:0;
font-family:Arial;
background:white;
}

/* HEADER */

.header{
position:fixed;
width:100%;
top:0;
background:#0d6efd; /* daha açık premium mavi */
color:white;
z-index:1000;
box-shadow:0 2px 10px rgba(0,0,0,0.2);
}

.logo{
font-size:22px;
font-weight:bold;
cursor:pointer;
}

.logo a{
color:white;
text-decoration:none;
}


.nav-container{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
}

.logo{
font-size:22px;
font-weight:bold;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
transition:0.3s;
}

nav a:hover{
color:gold;
}


/* HERO */

.hero-overlay{
position:absolute;
width:100%;
height:100%;
background:black;
opacity:0.5;
}

.hero-center{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:white;
text-align:center;
z-index:2;
}

.hero-center h1{
font-size:50px;
font-weight:bold;
}

.hero-center p{
font-size:20px;
}



.hero{
height:100vh;
position:relative;
overflow:hidden;
margin-top:60px;
}

.hero-slide{
position:absolute;
width:100%;
height:100%;
background-size:cover;
background-position:center;
opacity:0;
transition:1s;
}

.hero-slide.active{
opacity:1;
}

.hero-text{
position:absolute;
bottom:20%;
left:10%;
color:white;
background:rgba(0,0,0,0.5);
padding:20px;
border-radius:5px;
}

.prev,.next{
position:absolute;
top:50%;
transform:translateY(-50%);
background:rgba(0,0,0,0.5);
color:white;
border:none;
font-size:30px;
padding:10px;
cursor:pointer;
}

.prev{left:10px;}
.next{right:10px;}


/* ABOUT */

.about-hero{

margin-top:80px;

position:relative;

text-align:center;

}

.about-hero img{

width:100%;

height:400px;

object-fit:cover;

filter:brightness(50%);

}

.about-hero h1{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

color:white;

font-size:50px;

}


.about-text{

max-width:800px;

margin-top:50px;

margin-bottom:50px;

}


.partners img{

width:150px;

margin:20px;

}



.about-preview{
padding:80px 20px;
text-align:center;
}

.line-top{
height:4px;
background:#007bff;
width:60%;
margin-bottom:20px;
}

.line-bottom{
height:4px;
background:#007bff;
width:60%;
margin-top:20px;
margin-left:auto;
}


/* FOOTER */

footer{
background:#001f3f;
color:white;
padding:40px;
}

.footer-grid{
display:grid;
grid-template-columns:1fr 1fr 1fr;
}

footer a{
color:white;
text-decoration:none;
}

footer a:hover{
color:gold;
}

.copyright{
text-align:center;
margin-top:20px;
}


.listings-container{
margin-top:120px;
}

.ship-card{

border:1px solid black;

box-shadow:0 5px 15px rgba(0,0,0,0.3);

padding:10px;

margin-bottom:30px;

transition:0.3s;

background:white;

}

.ship-card:hover{

transform:scale(1.03);

}

.ship-card img{

width:100%;

height:200px;

object-fit:cover;

margin-bottom:10px;

}





.contact-container{

margin-top:120px;

max-width:600px;

}
